<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #userForm="ngForm" class="example-form" [formGroup]="userFormGroup">
      <mat-form-field class="reg-form-field">
        <input
          matInput
          disabled
          required
          type="number"
          placeholder="Id"
          class="form-control"
          formControlName="id"
        />
      </mat-form-field>
      <mat-form-field class="reg-form-field">
        <input
          matInput
          required
          placeholder="Name"
          class="form-control"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="reg-form-field">
        <input
          matInput
          required
          placeholder="Email"
          class="form-control"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="reg-form-field">
        <textarea
          matInput
          matTextareaAutosize="true"
          matAutosizeMinRows="2"
          placeholder="Description"
          required
          formControlName="description"
        ></textarea>
        <mat-hint align="end"
          >{{ userFormGroup.get("description").value.length }} / 30</mat-hint
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="userForm.invalid"
      >
        Mentés
      </button>
      <button mat-raised-button routerLink="">Vissza</button>
    </form>
  </mat-card-content>
</mat-card>
